/* Allgemeine Einstellungen */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

h1, h2 {
    margin: 0;
    padding: 3rem; /* Seitenabstand für Überschriften */
}

/* Container für Inhalte */
.container {
    width: 100%;
    height: 100%;
}

/* Navigationsleiste */
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    z-index: 1000;
}

.nav-left .name {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.nav-right {
    display: flex;
    gap: 4rem;
    padding-right: 3rem;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #d0ff00;
}

/* Über Mich Grid */
.about-grid {
    padding: 12rem 2rem;
    padding-bottom: 0;
    margin: 0;
    display: grid;
    justify-content: center; /* Zentriert die Galerie in der Horizontalen */
    grid-template-columns: repeat(2, 670px); /* Zwei Spalten, automatisch gleichmäßig */
    gap: 10px;
    text-align: left; /* Links ausgerichtet für modernen Look */
}

/* Bild Styling */
.about-image {
    text-align: center; /* Bild in der Mitte der Zelle */
}

.profile-image {
    width: 100%;
    max-height: 500px; /* Maximale Breite des Bildes */
    object-fit: contain; /* Bild bleibt proportional */
}

/* Text Styling */
.about-text {
    font-size: 1rem;
    color: #000000;
    line-height: 1.6; /* Bessere Lesbarkeit */
}

footer {
    padding-top: 4rem; /* Abstand vom Inhalt des Footers zur Galerie */
}

@media (max-width: 768px) {

    .nav-right {
        gap: 1rem; /* Verringert den Abstand zwischen den Links */
    }

    .nav-link {
        font-size: 1rem; /* Kleinere Schriftgröße */
    }

    .nav-left .name {
        font-size: 1.5rem; /* Kleinere Schriftgröße für den Namen */
    }
    
    .about-grid {
        display: grid; /* Sicherstellen, dass es ein Grid bleibt */
        grid-template-columns: 1fr; /* Einspaltig */
        grid-template-rows: auto; /* Automatische Zeilenhöhen */
        gap: 100px; /* Abstand zwischen den Elementen */
        overflow: hidden; /* Verhindert Überlappung durch Margins */
    }

    .about-image {
        grid-column: 1; /* Erste Zeile der mobilen Ansicht */
        grid-row: auto;
        justify-content: start; /* Vertikal zentrieren für konsistente Darstellung */
        width: 100%; /* Volle Breite */
    }

   .about-text {
        grid-column: 1; /* Zweite Zeile der mobilen Ansicht */
        width: 100%; /* Volle Breite */
    }
}